.main{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.content{
  position: relative;
  width: 800px;
  height: 500px;
  background-color: #2e2f30;
  border-radius: 8px; 
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.content > div {
  margin: 15px 0;
}

.btn-group{
  display :flex; 
}

.btn{
  background-color: #ff5f5f;
  color: #fff;
  border: none;
  border-radius: 8px;
  width: 140px;
  height: 60px;
  font-size: 28px;
  font-weight: 200;
  margin: 0 10px;
}

.btn:hover{
  background-color: #f34040;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

h1 {
  font-size:60px;
  font-weight: 400;
}

h1 > span {
  color: #ff5f5f;
}

h2 {
  font-size: 75px;
  text-align: center;
  font-weight: 200;
}

h2 > span {
  font-size: 30px;
}

.address {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #2e2f30;
  border-radius: 18px;
  width: 125px;
  height: 33px;
  position: absolute;
  top: 0px;
  right: 15px;
  font-size: 15px;
  font-weight: 600;
}

.address-connect{
  cursor: pointer;
}
